section.bildbehandling {
  min-height: 120vh;
  .bildbehandling-container {
    min-height: inherit;
    @include flex(center, normal, column);
    gap: 10rem;
    margin-bottom: 10rem;
    section.fargstick,
    section.handkolorering {
      @include flex(normal, normal, column);
      gap: 5rem;
      .img-wrapper {
        @include flex(center, center, row);
        margin: 0 2rem;
        flex-wrap: wrap;
        gap: 10rem;
        img {
          width: 55rem;
          height: 36.7rem;
        }
      }
    }
  }
}

// Styling for mobile

@media screen and (max-width: 695px) {
  section.bildbehandling {
    .bildbehandling-container {
      gap: 7rem;
      section.fargstick,
      section.handkolorering {
        .img-wrapper {
          gap: 5rem;
          img {
            width: 31.5rem;
            height: 21rem;
          }
        }
      }
    }
  }
}
