section.latest-products {
  @include flex(center, center, column);
  min-height: 69.2vh;
  width: 80%;
  margin: auto;

  .products-container {
    width: 100%;
    @include flex(center, center, row);
    gap: 5vw;
    margin-bottom: 4rem;
    img {
      width: 25rem;
      height: 50rem;
    }
  }
}

section.course-sellout {
  min-height: 61.4vh;
  position: relative;
  overflow-y: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  @include flex(center, center, column);
  h1 {
    color: $course-sellout-color;
    line-height: 7rem;
    margin: 0;
    margin-bottom: 3.2rem;
    text-align: center;
    text-shadow: $text-shadow;
    hyphens: manual;
  }

  a.search-here {
    padding: 1.8rem 5.7rem;
    font-size: $search-here-font;
    font-weight: bold;
    color: $course-sellout-color;
    border: 0.5rem solid white;
    box-shadow: $box-shadow;
    &:hover {
      background: $secondary-color;
    }
  }
}

section.ads {
  min-height: 72.2vh;
  position: relative;
  @include flex(center, center, column);
  img {
    width: 65rem;
    height: 43rem;
    margin: 2rem 0;
    object-fit: contain;
  }
}

// Styling for tablets

@media screen and (max-width: 834px) {
  section.latest-products {
    .products-container {
      gap: 0;
      img {
        width: 23rem;
        height: 45rem;
      }
    }
  }
}

// Styling for mobile

@media screen and (max-width: 695px) {
  section.latest-products {
    h1 {
      margin-bottom: 0;
    }
    .products-container {
      gap: 5vw;
      width: 50%;
      flex-wrap: wrap;
      img {
        width: 15rem;
        height: 30rem;
      }
    }
  }

  section.ads {
    min-height: 72.2vh;
    position: relative;
    margin: 0 2rem;
    img {
      width: 100%;
    }
  }
}
